<template>
  <header
    class="sticky top-0 z-50 flex justify-between items-center space-x-1 border-b shadow-md relative"
    :class="theme.darkTheme ? 'text-white bg-gray-800' : 'bg-white'"
  >
    <div
      class="container mx-auto flex flex-wrap items-center justify-between p-1"
    >
      <NuxtLink class="text-3xl font-mono" :to="localePath(`/`)">
        <nuxt-img
          src="/assets/img/site-logo.png"
          alt="Logo"
          width="60"
          loading="lazy"
          quality="80"
        />
      </NuxtLink>
      <HeaderNav />
    </div>
  </header>
</template>

<script setup>
import { useThemeStore } from '~/store/global'

const theme = useThemeStore()
const localePath = useLocalePath()
</script>
