<template>
  <nav
    class="fixed w-full z-40 transition-all duration-300 flex justify-between py-5 px-5 sm:px-10 md:px-20 text-white"
    :class="[
      showMainNav ? 'top-0' : '-top-full bg-suitmedia-orange',
      showSecondaryNav ? 'top-0 bg-opacity-70 backdrop-blur-sm' : '-top-0'
    ]"
  >
    <NuxtLink href="/">
      <NuxtImg src="/assets/img/logo-white.png" alt="Logo" class="w-24" />
    </NuxtLink>
    <div class="hidden md:flex gap-7 capitalize items-center">
      <NuxtLink
        v-for="(menu, index) in navBarMenus"
        :key="index"
        class="border-b-4 py-2"
        :class="route.path === menu ? 'border-white' : 'border-transparent'"
        :to="menu"
      >
        {{ menu }}
      </NuxtLink>
    </div>
    <button class="md:hidden" @click="openMobileNav">
      <img
        src="/assets/icons/icon-hamburger-menu.svg"
        alt="Hamburger Menu"
        class="w-12 text-white stroke-white"
      />
    </button>

    <div
      :class="showMobileNav ? 'right-0 md:-right-full' : '-right-full'"
      class="w-2/3 h-screen flex flex-col gap-10 items-end z-50 fixed transition-all duration-300 p-5 bg-suitmedia-orange top-0 shadow-lg"
    >
      <button @click="closeMobileNav">
        <img
          src="/assets/icons/icon-close.svg"
          alt="Hamburger Menu"
          class="w-12 text-white stroke-white"
        />
      </button>

      <div class="flex flex-col capitalize text-end">
        <NuxtLink
          v-for="(menu, index) in navBarMenus"
          :key="index"
          class="border-b-4 py-2"
          :class="route.path === menu ? 'border-white' : 'border-transparent'"
          :to="menu"
        >
          {{ menu }}
        </NuxtLink>
      </div>
    </div>
  </nav>
</template>

<script setup>
const navBarMenus = ['work', 'about', 'services', 'ideas', 'careers', 'contact']

const route = useRoute()

const showMainNav = useState('showMainNav', () => true)
const showSecondaryNav = useState('showSecondaryNav', () => false)
const showMobileNav = useState('showMobileNav', () => false)

let prevScrollY = 0

onMounted(() => {
  const handleScroll = () => {
    const currentScrollY = window.scrollY

    if (currentScrollY > 10) {
      showMainNav.value = false

      if (currentScrollY > prevScrollY) {
        showSecondaryNav.value = false
      } else if (currentScrollY < prevScrollY) {
        showSecondaryNav.value = true
      }
    } else {
      showSecondaryNav.value = false
      showMainNav.value = true
    }

    prevScrollY = currentScrollY
  }

  window.addEventListener('scroll', handleScroll)

  onUnmounted(() => {
    window.removeEventListener('scroll', handleScroll)
  })
})

function closeMobileNav() {
  showMobileNav.value = false
}

function openMobileNav() {
  showMobileNav.value = true
}
</script>
