<template>
  <div class="mt-10 grid gap-5 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
    <div
      v-for="(_, index) in [...Array(parseInt(size))]"
      :key="index"
      class="shadow-lg bg-gray-300 animate-pulse aspect-[8/9] overflow-hidden rounded-lg"
    ></div>
  </div>
</template>

<script setup>
const { size } = defineProps({
  size: {
    type: Number,
    default: 4
  }
})
</script>
