<template>
  <div className="shadow-lg overflow-hidden rounded-lg">
    <div class="relative w-full aspect-video overflow-hidden bg-gray-400">
      <NuxtImg
        v-if="idea.medium_image[0]"
        :src="idea.medium_image[0]?.url"
        alt="Thumbnail"
        class="absolute w-full object-cover"
      />
    </div>
    <div className="p-5">
      <p className="font-semibold text-xs m-0 uppercase text-gray-400">
        {{ formatDate(idea?.published_at) }}
      </p>
      <h2 className="line-clamp-3 text-lg font-semibold">{{ idea?.title }}</h2>
    </div>
  </div>
</template>

<script setup>
const { idea } = defineProps(['idea'])

function formatDate(dateString) {
  const apiDate = new Date(dateString)

  const options = {
    year: 'numeric',
    month: 'long',
    day: '2-digit'
  }

  return apiDate.toLocaleDateString('id-ID', options)
}
</script>
