<template>
  <section
    class="h-[35rem] bg-black w-full overflow-hidden text-center clip-polygon z-0 relative text-white flex flex-col justify-center items-center bg-cover"
  >
    <NuxtImg
      src="https://images.unsplash.com/photo-1598520106830-8c45c2035460?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      alt="Hero Image"
      class="parallax-image absolute -z-10 brightness-50 h-full w-full object-cover"
    />
    <h1 className="font-semibold text-5xl">Ideas</h1>
    <p>Where all our great things begin</p>
  </section>
</template>

<script setup>
function handleScroll() {
  const scrollPosition = window.scrollY
  const parallaxImage = document.querySelector('.parallax-image')
  parallaxImage.style.transform = `translateY(${scrollPosition * 0.5}px)`
}

onMounted(() => {
  window.addEventListener('scroll', handleScroll)
})

onUnmounted(() => {
  window.removeEventListener('scroll', handleScroll)
})
</script>

<style scoped>
.clip-polygon {
  clip-path: polygon(0 0, 100% 0, 100% 77%, 0% 100%);
}
</style>
