<template>
  <div class="flex gap-2 items-center">
    <label :for="inputId">{{ label }}</label>
    <select
      :id="inputId"
      :value="model"
      class="border rounded-full py-2 px-5"
      @input="updateModel($event.target.value)"
      @change="onChange"
    >
      <option v-for="(item, index) in options" :key="index" :value="item.value">
        {{ item.label }}
      </option>
    </select>
  </div>
</template>

<script setup>
const { label, model, onChange, options } = defineProps({
  label: {
    type: String,
    default: 'Filter'
  },
  model: {
    type: String,
    default: null
  },
  options: {
    type: Array,
    default: null
  },
  onChange: {
    type: Function,
    default: null
  }
})

const inputId = 'amount_' + Math.random().toString(36).substr(2, 9)

const emit = defineEmits(['update:model'])

function updateModel(value) {
  emit('update:model', value)
}
</script>
