<template>
  <div class="flex mt-10 justify-center items-center gap-2">
    <div class="flex font-bold text-xl">
      <button
        class="rounded-lg p-2 enabled:hover:bg-gray-200 disabled:text-gray-300 transition-all duration-150"
        :disabled="parseInt(currentPage) === 1"
        @click="
          router.push({
            path: '/id/ideas',
            query: {
              'page[number]': 1,
              'page[size]': currentPageSize,
              sort: currentSort
            }
          })
        "
      >
        {{ '<<' }}
      </button>
      <button
        class="rounded-lg p-2 enabled:hover:bg-gray-200 disabled:text-gray-300 transition-all duration-150"
        :disabled="parseInt(currentPage) === 1"
        @click="
          router.push({
            path: '/id/ideas',
            query: {
              'page[number]': currentPage - 1,
              'page[size]': currentPageSize,
              sort: currentSort
            }
          })
        "
      >
        {{ '<' }}
      </button>
    </div>
    <div class="flex">
      <NuxtLink
        v-for="(page, index) in calculatePagesToShow(
          currentPage,
          pageMeta.last_page
        )"
        :key="index"
        class="py-2 px-4 font-semibold rounded-lg hover:bg-gray-200 transition-all duration-150"
        :class="
          currentPage === page.toString() &&
          'bg-suitmedia-orange text-white hover:bg-suitmedia-orange'
        "
        :to="
          currentPage !== page.toString() &&
          `/id/ideas?page[number]=${page}&page[size]=${currentPageSize}&sort=${currentSort}`
        "
      >
        {{ page }}
      </NuxtLink>
    </div>
    <div class="flex font-bold text-xl">
      <button
        class="rounded-lg p-2 enabled:hover:bg-gray-200 disabled:text-gray-300 transition-all duration-150"
        :disabled="parseInt(currentPage) === parseInt(pageMeta?.last_page)"
        @click="
          router.push({
            path: '/id/ideas',
            query: {
              'page[number]': currentPage + 1,
              'page[size]': currentPageSize,
              sort: currentSort
            }
          })
        "
      >
        {{ '>' }}
      </button>
      <button
        class="rounded-lg p-2 enabled:hover:bg-gray-200 disabled:text-gray-300 transition-all duration-150"
        :disabled="parseInt(currentPage) === parseInt(pageMeta?.last_page)"
        @click="
          router.push({
            path: '/id/ideas',
            query: {
              'page[number]': pageMeta?.last_page,
              'page[size]': currentPageSize,
              sort: currentSort
            }
          })
        "
      >
        {{ '>>' }}
      </button>
    </div>
  </div>
</template>

<script setup>
const router = useRouter()

const { currentPage, currentPageSize, currentSort, pageMeta } = defineProps({
  currentPage: {
    type: Number,
    default: null
  },
  currentPageSize: {
    type: Number,
    default: null
  },
  currentSort: {
    type: String,
    default: null
  },
  pageMeta: {
    type: Object,
    default: null
  }
})

const calculatePagesToShow = (currentPage, totalPages, pagesToShow = 5) => {
  let startPage = Math.max(1, currentPage - Math.floor(pagesToShow / 2))
  let endPage = startPage + pagesToShow - 1

  if (endPage > totalPages) {
    endPage = totalPages
    startPage = Math.max(1, endPage - pagesToShow + 1)
  }

  const pagesCount = Math.min(pagesToShow, totalPages)

  return Array.from({ length: pagesCount }, (_, i) => startPage + i)
}
</script>
