<template>
  <main id="main" role="main" class="site-main">
    <div class="container">
      <UtilsBreadCrumbs />
      <h1>{{ $t('aboutUs') }}</h1>
      <ExampleSwiperEx />
      <ExampleSwiperDiagonalEx />
    </div>
  </main>
</template>

<script setup>
defineI18nRoute({
  paths: {
    id: '/tentang-kami',
    en: '/about-us'
  }
})
</script>
