<template>
  <div>
    <main>
      <HeroSection />
      <section v-if="ideasList && pageMeta" class="p-10">
        <div
          class="flex items-center gap-5 flex-wrap justify-between font-semibold"
        >
          <p class="m-0">
            Showing {{ pageMeta.from }}-{{ pageMeta.to }} / {{ pageMeta.total }}
          </p>

          <div class="flex flex-wrap gap=2 md:gap-10">
            <IdeasFilter
              label="Show per page:"
              :model="currentPageSize"
              :on-change="handleSizeSelect"
              :options="perPageOptions"
            />
            <IdeasFilter
              label="Sort :"
              :model="currentSort"
              :on-change="handleSortSelect"
              :options="sortOptions"
            />
          </div>
        </div>
        <CardSkeleton v-if="isLoading" size="12" />
        <div
          v-if="ideasList && !isLoading"
          class="mt-10 grid gap-5 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4"
        >
          <ContentCard
            v-for="(item, index) in ideasList"
            :key="index"
            :idea="item"
          />
        </div>
        <IdeasPagination
          :current-page="currentPage"
          :current-page-size="currentPageSize"
          :current-sort="currentSort"
          :page-meta="pageMeta"
        />
      </section>
    </main>
  </div>
</template>

<script setup>
import axios from 'axios'

definePageMeta({
  layout: 'suitmedia'
})

const perPageOptions = [
  { value: 10, label: 10 },
  { value: 20, label: 20 },
  { value: 50, label: 50 }
]

const sortOptions = [
  { value: 'published_at', label: 'Oldest' },
  { value: '-published_at', label: 'Newest' }
]

const route = useRoute()
const router = useRouter()

const ideasList = useState('ideas', () => [])
const pageMeta = useState('meta', () => undefined)
const isLoading = useState('loading', () => false)
const currentPage = useState(
  'currentPage',
  () => route.query['page[number]'] ?? '1'
)
const currentPageSize = useState(
  'pageSize',
  () => route.query['page[size]'] ?? '10'
)

const currentSort = useState('sort', () => route.query.sort ?? '-published_at')

const fetchData = async page => {
  isLoading.value = true

  const res = await axios.get(
    'https://suitmedia-backend.suitdev.com/api/ideas',
    {
      params: {
        'page[number]': page,
        'page[size]': currentPageSize.value,
        append: ['medium_image', 'small_image'],
        sort: currentSort.value
      }
    }
  )

  ideasList.value = res.data.data
  pageMeta.value = res.data.meta

  isLoading.value = false
}

// const { data, error } = useFetch(
//   'https://suitmedia-backend.suitdev.com/api/ideas',
//   {
//     headers: {
//       'Content-Type': 'application/json'
//     },
//     params: {
//       'page[number]': 1,
//       'page[size]': 10,
//       sort: 'published_at',
//       append: []
//     }
//   }
// )

onMounted(() => fetchData(currentPage.value))

watch(
  () => [route.query],
  () => {
    currentPage.value = route.query['page[number]']
    fetchData(currentPage.value)
  }
)

const handleSizeSelect = e => {
  currentPageSize.value = e.target.value

  router.push({
    path: '/id/ideas',
    query: {
      'page[number]': currentPage.value,
      'page[size]': parseInt(e.target.value),
      sort: currentSort.value
    }
  })
}

const handleSortSelect = e => {
  currentSort.value = e.target.value

  router.push({
    path: '/id/ideas',
    query: {
      'page[number]': currentPage.value,
      'page[size]': currentPageSize.value,
      sort: e.target.value
    }
  })
}
</script>

<style lang="scss" scoped></style>
